body{
	margin:0;
	--inner-shadow: inset 3px 3px 3px #fff, inset -3px -3px 3px #ceced1;
	background-image: url('image/back2.jpg');
	background-repeat: repeat;
    --outer-shadow: 5px 5px 5px #fff, -3px -3px 3px #ceced1;
}
.show-product{
	margin: 0 auto;

}
.show-product table{
	max-width: 1000px;
	width: 100%;
	margin: 4rem auto;
	padding: 2rem;
	text-align: center;
	border-radius: 10px;
}
.show-product table tr{
	box-shadow: var(--inner-shadow);
}
.show-product table td{
	padding: 1rem;
	font-size: 1rem;
	text-transform: capitalize;
	margin: .5rem 0;
}
th{
	box-shadow: var(--outer-shadow);
	color: olive;
	text-transform: uppercase;
	padding: .5rem 0;
	margin: 1.5rem 0;
}
td{
	box-shadow: var(--outer-shadow);
	color: olive;
	text-transform: uppercase;
	padding: .5rem 0;
	margin: 1.5rem 0;
}